*{margin: 0; padding: 0;} /*Quitar border fantasma*/

header{
    background-color: #8cff66;
    height:100px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: justify; /*because we want to spread the children*/
    /*vertical-align: middle;*/
}

/*pseudo-clase para justificar horizontalmente los elementos del header*/
header::after {
    content: '';
    display: inline-block;
    width: 100%;
}

/*pseudo-clase para justificar verticalmente los elementos del header*/
header div::before {
    content: '';
    display: inline-block;
    vertical-align: middle;  
    height: 100%;
}
header div{
    display: inline-block;
    font-size: 23px;
    height: 100%;   /*ayuda a justificar verticalmente los elementos del header*/
    vertical-align: middle;
}
header nav {
    background-color: #ff6666; 
    display: inline-block;  
    font-size: 19px;
    vertical-align: middle; 
}