*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    align-items: center;
    background-color: #83eb6c;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100px;
    justify-content: space-between;
}
header li,nav{
    display: inline-block;
    font-size: 24px;
}
header nav>a{
    padding: 4px; /*espacio entre el contenido y el margen*/
}
header nav:hover{
    background-color: #37ad57;
}
header nav{
    border: 3px solid #000;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    right: 3%;
}
header>div{
    font-size: 30px;
    cursor: pointer;
    position: relative;
    left: 3%;
}
header li>a{
    padding: 14px 16px; /*separación elementos del menú*/
    cursor: pointer;
}
header ul>li:hover{
    display: flex;
    background-color: #37ad57;
    height: 75%;
    align-items: center;
    border-radius: 5px;
}
header>ul{
    display: flex;
    align-items: center;
}
.w3-content{
    max-width: none;
    height: 300px;
}

div>img{
    width: 100%;
    height: 100%;
}

.slider{
    width: 100%;
    height: 400px;
    background-color: #83eb6c;
    position: relative;
}
.slider>img{
    width: 100%;
    height: 100%;
    /*vertical-align: middle;*/
}

.arrow-slider{
    width: 100%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    font-size: 25px;
}
.arrow{
    border: 3px solid #1a1a1a;
    height: 40px;
    width: 40px;
    line-height: 40px; /*alinea la fecha verticalmente*/
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    color: #1a1a1a;
    backdrop-filter: blur(5px);
}
.arrow:hover{
    background-color: #83eb6c;
}
.left-arrow{
    float: left;
    margin-left: 10px;
    
}
.rigth-arrow{
    float: right;
    margin-right: 10px;
}

.circle-slider{
    width: 100%;
    text-align: center;
    position: absolute;
    font-size: 18px;
    bottom: 0%;
}
.circle{
    border:3px solid #83eb6c;
    background-color: transparent;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
}
.circle-fill{
    background-color: #1a1a1a;
}